body {
      font-family: Arial;
      background-color: #f2f2f2;
    }

    .container {
      width: 350px;
      margin: 30px auto;
      border: 2px solid black;
      padding: 20px;
      text-align: center;
      background-color: lightgoldenrodyellow;
    }

    .card {
      background-color:lightpink;
      padding: 25px;
      margin: 25px; 
      border-radius: 10px;
    }